<div class="register-container">
  <form (ngSubmit)="onSubmit()" #registerForm="ngForm">
    <h2>Registrierung</h2>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Vorname</mat-label>
      <input
        matInput
        type="text"
        name="firstName"
        [(ngModel)]="formData.firstName"
        #firstNameModel="ngModel"
        required
      />
      @if (firstNameModel.touched && firstNameModel.hasError('required')) {
        <mat-error>Bitte geben Sie Ihren Vornamen ein</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Nachname</mat-label>
      <input
        matInput
        type="text"
        name="lastName"
        [(ngModel)]="formData.lastName"
        #lastNameModel="ngModel"
        required
      />
      @if (lastNameModel.touched && lastNameModel.hasError('required')) {
        <mat-error>Bitte geben Sie Ihren Nachnamen ein</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>E-Mail</mat-label>
      <input
        matInput
        type="email"
        name="email"
        [(ngModel)]="formData.email"
        #mailModel="ngModel"
        required
      />
      @if (mailModel.touched && mailModel.hasError('required')) {
        <mat-error>Bitte geben Sie eine gültige E-Mail ein</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Passwort</mat-label>
      <input
        matInput
        type="password"
        name="password"
        [(ngModel)]="formData.password"
        #passwortModel="ngModel"
        required
      />
      @if (passwortModel.touched && passwortModel.hasError('required')) {
        <mat-error>Bitte geben Sie Ihr Passwort ein</mat-error>
      }
    </mat-form-field>

    <mat-form-field appearance="fill" class="full-width">
      <mat-label>Geschlecht</mat-label>
      <mat-select [(ngModel)]="formData.gender" name="gender" required>
        <mat-option value="Männlich">Männlich</mat-option>
        <mat-option value="Weiblich">Weiblich</mat-option>
        <mat-option value="Divers">Divers</mat-option>
      </mat-select>
    </mat-form-field>

    @if (errorMessage) {
      <mat-error>{{ errorMessage }}</mat-error>
    }

    <button
      mat-raised-button
      color="primary"
      type="submit"
      [disabled]="!registerForm.valid"
      matTooltip="Bitte füllen Sie alle Felder aus"
      [matTooltipDisabled]="registerForm.valid"
    >
      Registrieren
    </button>
  </form>
</div>
