$primary-color: #00c37a;
$secondary-color: #1e1e1e;
$panel-bg-color: #2a2a2a;
$hover-color: #009b5a;
$text-color: #f0f0f0;

.admin-container {
  background-color: $secondary-color;
  padding: 30px;
  border-radius: 10px;
  width: 80%;
  margin: 30px auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
  color: $text-color;
  transition: all 0.3s;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
  button {
    margin-top: 10px;
    border-radius: 5px;
    transition: background-color 0.3s;
    background-color: $primary-color;
  }

  button:hover {
    background-color: $hover-color;
  }
}

.user-table {
  width: 100%;
  background-color: $panel-bg-color;
  border-radius: 10px;
  margin-top: 20px;
  border-spacing: 0;
  border-collapse: collapse;
}
.user-table button[color="warn"] {
  background-color: #ff4c4c;
  border-radius: 5px;
  color: white;
  transition: background-color 0.3s;
}

.user-table button[color="warn"]:hover {
  background-color: #d32f2f;
}

th, td {
  padding: 15px;
  text-align: left;
  color: #dcdcdc;
  border-bottom: 1px solid #444;
  transition: background-color 0.3s;
}

th {
  background-color: $primary-color;
  color: $text-color;
  text-transform: uppercase;
}


tr:last-child td {
  border-bottom: none;
}

.error-message, .success-message {
  padding: 15px;
  margin-bottom: 20px;
  border-radius: 5px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 0.5px;
}

.error-message {
  background-color: #ff4c4c;
  color: white;
}

.success-message {
  background-color: #4caf50;
  color: white;
}


